.iframeStyle{
    width: 75%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 3%;
}

.spacingLeft{
    padding-left: 3%;
}

@media (max-width: 992px){
    .iframeStyle{
        width: 100%;
    }
    .spacingLeft{
        padding-left: 0%;
    }
}

