.table-of-contents a:hover{
    border-left: 2px solid #4a148c;
    font-weight: 500;
    
}

.table-of-contents a{
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 16px;
    
}


.table-of-contents a.active{
    border-left: 2px solid #4a148c;
    font-weight: 400;
}